body {
    margin-top: 45px;
    background-color: rgba(135, 206, 250, 0.26);
}

#canvas {
}
.box{
    height: 30px;
    width: 30px;
    display:inline-block;
}

.sky{
    background-color: lightskyblue;
}

.cloud{
    background-color: white;
}

.leaf{
    background-image: url("../images/leaf.jpg");
    background-size: cover;
}

.grass{
    background-image: url("../images/grass.png");
    background-size: cover;
}

.dirt{
    background-image: url("../images/dirt.png");
    background-size: cover;
}

.rock{
    background-image: url("../images/rock.png");
    background-size: cover;
}

.tree{
    background-image: url("../images/tree.png");
    background-size: cover;
}

.row{
    margin-top:-8px;
    margin-left: 25%;
}

.tool {
    padding: 2%;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    border: 5px solid #6a6a6a;
    background-color: aliceblue;
    margin: 5%;
}

.tool.selected, #storedTile.tool.selected{
    border:4px solid #5bbb2d;;
}

#storedTile{
    height: 100px;
    width: 100px;
    border: 3px solid black;
}

#toolSet {
    transform: translateY(-100%);
    margin-left: 7%;
    position: absolute;
}

#axe {
    background-image: url("../images/axe.png");
    background-size: cover;

}

#pick {
    background-image: url("../images/pickaxe.png");
    background-size: cover;

}

#shovel {
    background-image: url("../images/shovel.png");
    background-size: cover;
}

.tool.errorClick {
    background-color: red;
}

.readyForUse {
    border: 10px solid black;
}

.logo img{
    margin-left: 30%;
    height: 80px;
    margin-top: -24px;
    margin-bottom: 29px;
}